h1 {
    text-align: center;
    font-family: inherit;
    font-size: 80px; 
    color: #9CCFF5; 
    margin-bottom: 0px; 
    margin-top: 0px; 
    font-weight: bold;
}

h2 {
    font-family: inherit; 
    display: inline-block; 
    margin: 0 30px;
    color: #9CCFF5; 
    font-size: 25px; 
    font-weight: bold;
}

h2:hover,h1:hover,footer:hover{
    color: #F5B5E0;
}
header,footer {
    text-align: center; 
    margin-bottom: 10px; 
    background-color: #F5D1A9; 
    padding: 30px;
    margin-top: 10px;  
    color: #9CCFF5;
    margin: auto; 
}

body {
    background-color: #F3F1E6;
    margin: 0;  
}

a { 
    text-decoration: none;
}

@media (max-width: 640px) {
    h1{
        font-size: 70;
        margin-bottom: 0px;
        padding: 0px;
    }
    header,footer{
        margin: auto;
    }
 
    footer {
        padding-top: 5px;
    }
    h2{
        font-size: 30px; 
        padding: 0;
        margin: 0 12px;
        margin-top:0px;
        
    }
   

  }
